@{
    ViewBag.Title = "Películas Acción";
}
<h2 style="text-align:center; font-family:Broadway; color:saddlebrown;">@ViewBag.Title</h2>

<div class="col-md-4 mb-2" style="margin-left:5em">
    <div class="card">
        <img src="https://pics.filmaffinity.com/the_old_guard-768938280-large.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">La vieja Guardia</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>140 min</td>
                        <td>2</td>
                        <td>7:08</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>140 min</td>
                        <td>6</td>
                        <td>9:10</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>140 min</td>
                        <td>9</td>
                        <td>12:50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-4 mb-2" style="margin-left:40em; margin-top:-52em">
    <div class="card">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/jumanji-siguiente-nivel-dvd-blu-ray-1587994970.jpg?resize=480:*" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Jumanji</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>145 min</td>
                        <td>8</td>
                        <td>12:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>145 min</td>
                        <td>4</td>
                        <td>3:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>145 min</td>
                        <td>3</td>
                        <td>4:10</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>145 min</td>
                        <td>1</td>
                        <td>6:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>145 min</td>
                        <td>2</td>
                        <td>11:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-4 mb-2" style="margin-top:5em; margin-left:5em">
    <div class="card">
        <img src="https://es.web.img3.acsta.net/pictures/19/12/11/18/10/4293997.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Aves de Presa</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>109 min</td>
                        <td>6</td>
                        <td>4:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>109 min</td>
                        <td>7</td>
                        <td>6:00</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-4 mb-2" style="margin-left:40em; margin-top:-45em">
    <div class="card">
        <img src="https://pics.filmaffinity.com/Venom-846272570-large.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Venom</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>150 min</td>
                        <td>1</td>
                        <td>2:13</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>150 min</td>
                        <td>7</td>
                        <td>7:45</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
