@{
    ViewBag.Title = "Películas de Comedia";
}
<h2 style="text-align:center; font-family:Broadway; color:saddlebrown;">@ViewBag.Title</h2>

<div class="col-md-4 mb-2" style="margin-left:5em">
    <div class="card">
        <img src="https://is1-ssl.mzstatic.com/image/thumb/24XIeQYh0fbDdADNU6EdKQ/1200x630.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Son como Niños</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>102 min</td>
                        <td>3</td>
                        <td>3:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>102 min</td>
                        <td>4</td>
                        <td>4:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>102 min</td>
                        <td>6</td>
                        <td>5:50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-4 mb-2" style="margin-left:40em; margin-top:-27em">
    <div class="card">
        <img src="https://www.caras.com.mx/wp-content/uploads/2018/05/El-antes-y-despu%C3%A9s-de-Chicas-pesadas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Chicas Pesadas</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>96 min</td>
                        <td>7</td>
                        <td>6:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>96 min</td>
                        <td>2</td>
                        <td>12:10</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>96 min</td>
                        <td>3</td>
                        <td>8:30</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-4 mb-2" style="margin-top:3em; margin-left:5em">
    <div class="card">
        <img src="https://cdn2.actitudfem.com/media/files/styles/large/public/images/2015/08/notamasnotasperfectaslapelidelverano.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Notas Perfectas</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>111 min</td>
                        <td>4</td>
                        <td>5:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>111 min</td>
                        <td>5</td>
                        <td>8:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>111 min</td>
                        <td>8</td>
                        <td>10:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-4 mb-2" style="margin-left:40em; margin-top:-27em">
    <div class="card">
        <img src="https://i.ytimg.com/vi/vPIg4nFNbfs/maxresdefault.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Guerra de Pápas</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>100 min</td>
                        <td>1</td>
                        <td>1:13</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>100 min</td>
                        <td>7</td>
                        <td>7:45</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>100 min</td>
                        <td>4</td>
                        <td>9:11</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>