@{
    ViewBag.Title = "Películas de Drama";
}
<h2 style="text-align:center; font-family:Broadway; color:saddlebrown;">@ViewBag.Title</h2>

<div class="col-md-4 mb-2" style="margin-left:5em">
    <div class="card">
        <img src="https://vignette.wikia.nocookie.net/cincuenta-sombras-de-grey/images/4/44/Cincuenta_sombras_liberadas_%28pel%C3%ADcula%29.jpg/revision/latest?cb=20180220172007&amp;path-prefix=es" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Cincuenta sombras liberadas</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>125 min</td>
                        <td>2</td>
                        <td>1:08</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>125 min</td>
                        <td>4</td>
                        <td>12:10</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>C</td>
                        <td>125 min</td>
                        <td>3</td>
                        <td>3:50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-4 mb-2" style="margin-left:40em; margin-top:-50em">
    <div class="card">
        <img src="https://pics.filmaffinity.com/A_dos_metros_de_ti-224837595-large.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">A dos metros de ti</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>122 min</td>
                        <td>7</td>
                        <td>12:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>122 min</td>
                        <td>3</td>
                        <td>1:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>122 min</td>
                        <td>8</td>
                        <td>9:45</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>122 min</td>
                        <td>1</td>
                        <td>4:30</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>122 min</td>
                        <td>4</td>
                        <td>3:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-4 mb-2" style="margin-top:5em; margin-left:5em">
    <div class="card">
        <img src="https://static.wikia.nocookie.net/doblaje/images/5/5c/M%C3%81S_ALL%C3%81_DEL_CIELO.jpg/revision/latest?cb=20101103013458&path-prefix=es" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Más allá del Cielo</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>112 min</td>
                        <td>8</td>
                        <td>7:50</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>112 min</td>
                        <td>2</td>
                        <td>12:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-4 mb-2" style="margin-left:40em; margin-top:-45em">
    <div class="card">
        <img src="https://m.media-amazon.com/images/I/51JZqGIA20L.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Desde mi Cielo</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>125 min</td>
                        <td>2</td>
                        <td>7:13</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
