@{
    ViewBag.Title = "Películas Infantiles";
}
<h2 style="text-align:center; font-family:Broadway; color:saddlebrown;">@ViewBag.Title</h2>

<div class="col-md-4 mb-2" style="margin-left:5em">
    <div class="card">
        <img src="https://images-na.ssl-images-amazon.com/images/I/91xi+Oy4oeL._RI_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Aladdín</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>A</td>
                        <td>130 min</td>
                        <td>3</td>
                        <td>3:40</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>A</td>
                        <td>130 min</td>
                        <td>4</td>
                        <td>4:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>A</td>
                        <td>130 min</td>
                        <td>6</td>
                        <td>3:50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-4 mb-2" style="margin-left:40em; margin-top:-44em">
    <div class="card">
        <img src="https://static.wikia.nocookie.net/doblaje/images/6/6f/28a.jpg/revision/latest?cb=20200812013209&path-prefix=es" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">La Sirenita</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>A</td>
                        <td>100 min</td>
                        <td>7</td>
                        <td>7:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-4 mb-2" style="margin-top:3em; margin-left:5em">
    <div class="card">
        <img src="https://pics.filmaffinity.com/Mul_n-307796523-large.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Múlan</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>A</td>
                        <td>111 min</td>
                        <td>1</td>
                        <td>4:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>A</td>
                        <td>111 min</td>
                        <td>4</td>
                        <td>6:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>A</td>
                        <td>111 min</td>
                        <td>9</td>
                        <td>10:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-4 mb-2" style="margin-left:40em; margin-top:-48em">
    <div class="card">
        <img src="https://i.pinimg.com/originals/7a/a2/1a/7aa21ae5f30ff7a4ed41b8fa6a5250ef.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Los Aristogatos</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>A</td>
                        <td>105 min</td>
                        <td>1</td>
                        <td>2:13</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>A</td>
                        <td>105 min</td>
                        <td>7</td>
                        <td>7:45</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>A</td>
                        <td>105 min</td>
                        <td>5</td>
                        <td>7:11</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>