@{
    ViewBag.Title = "Películas Románticas";
}
<h2 style="text-align:center; font-family:Broadway; color:saddlebrown;">@ViewBag.Title</h2>

<div class="col-md-4 mb-2" style="margin-left:5em">
    <div class="card">
        <img src="https://pics.filmaffinity.com/Amor_a_primera_visa-381772697-large.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Amor a primera visa</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>99 min</td>
                        <td>1</td>
                        <td>3:08</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>99 min</td>
                        <td>3</td>
                        <td>4:07</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>99 min</td>
                        <td>9</td>
                        <td>12:50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-4 mb-2" style="margin-left:40em; margin-top:-46em">
    <div class="card">
        <img src="https://musicart.xboxlive.com/7/f95e3600-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">No manches Frida</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>114 min</td>
                        <td>7</td>
                        <td>12:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>114 min</td>
                        <td>4</td>
                        <td>3:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B</td>
                        <td>114 min</td>
                        <td>6</td>
                        <td>3:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-4 mb-2" style="margin-top:5em; margin-left:5em">
    <div class="card">
        <img src="https://ladiescolocblog.files.wordpress.com/2019/04/images.jpeg?w=640" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">After</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>B15</td>
                        <td>111 min</td>
                        <td>1</td>
                        <td>4:00</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B15</td>
                        <td>111 min</td>
                        <td>4</td>
                        <td>6:00</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-4 mb-2" style="margin-left:40em; margin-top:-45em">
    <div class="card">
        <img src="https://imagenes.gatotv.com/categorias/peliculas/posters/una_esposa_de_mentira.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-uppercase" style="text-align:center;">Una esposa de mentira</h5>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr style="text-align:center;">
                        <th>Clase</th>
                        <th>Duración</th>
                        <th>Sala</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center;">
                        <td>B15</td>
                        <td>166 min</td>
                        <td>1</td>
                        <td>2:13</td>
                    </tr>
                    <tr style="text-align:center;">
                        <td>B15</td>
                        <td>166 min</td>
                        <td>7</td>
                        <td>7:45</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
